<h1>Home Page</h1>
<ul>
  <li>
    <a href="/about">about page</a>
  </li>
  <li>
    <a href="/contact">contact page</a>
  </li>
</ul>
<img src="img/bogomol.jpg" alt="bogomol" width="400" />